<div class="bg-login-image">
  <div class="container">
    <div class="row">
      <div class="col-6 logo-movil">
        <img src="assets/icon/logo-uleam-horizontal.svg" alt="" />
      </div>
      <div class="col-6 d-flex flex-row-reverse my-3">
        <span class="text-mode justify-content-center">Mode dark</span>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="card o-hidden border-0 shadow-lg">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="card-container">
                  <form class="user">
                    <div class="form-group">
                      <i class="fa fa-user icon"></i>
                      <input
                        type="email"
                        class="form-control form-control-user input-lg"
                        id="exampleInputEmail"
                        aria-describedby="emailHelp"
                        placeholder="Usuario"
                      />
                    </div>
                    <div class="form-group">
                      <i class="fa fa-key icon"></i>
                      <input
                        type="password"
                        class="form-control form-control-user"
                        id="exampleInputPassword"
                        placeholder="Contraseña"
                      />
                    </div>
                    <div class="my-3">
                      <div class="custom-control custom-checkbox small">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck"
                        />
                        <label class="custom-control-label" for="customCheck"
                          >Recordar</label
                        >
                      </div>
                    </div>
                    <a
                      href="index.html"
                      class="btn btn-primary btn-user btn-block"
                    >
                      Iniciar sesión
                    </a>
                  </form>
                  <div class="text-center mt-4">
                    <a class="small" href="forgot-password.html"
                      >¿Olvidó su contraseña?</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 justify-content-center">
        <img
          src="assets/icon/logo-uleam-horizontal.png"
          alt=""
          class="img-login my-3 img-responsive"
        />
        <h4 class="text-center mb-2">Recomendaciones</h4>
        <div class="row justify-content-center text-center">
          <a href="index.html" class="btn-option mb-2">
            Tutorial de matricula
          </a>
          <a href="index.html" class="btn-option mb-2">
            Cronograma de matricula 2020-1
          </a>
          <a href="index.html" class="btn-option mb-2">
            Carrera por campo y aranceles 2020
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
