// Custom Dropdown Styling

.dropdown {
  .dropdown-menu {
    font-size: $dropdown-font-size;
    .dropdown-header {
      // @extend .text-uppercase;
      font-weight: 100;
      font-size: 0.938rem;
      color: $gray-200;
    }
  }
}

// Utility class to hide arrow from dropdown

.dropdown.no-arrow {
  .dropdown-toggle::after {
    display: none;
  }
}
