<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Logo Uleam -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center mb-3 mt-2"
    routerLink="/inicio"
  >
    <div class="sidebar-brand-icon">
      <img src="assets/icon/Logo.svg" alt="" />
    </div>
    <div class="sidebar-brand-text mx-1">
      <img src="assets/icon/Uleam.svg" alt="" />
    </div>
  </a>

  <!-- Nav Item - Menu -->
  <li class="nav-item" *ngFor="let menu of menus">
    <a
      class="nav-link"
      [routerLink]="menu.url"
      routerLinkActive="active"
      id="sidebarToggleMenu"
    >
      <img src="assets/icon/{{ menu.icono }}" alt="" />
      <span class="text-black">{{ menu.nombre }}</span></a
    >
  </li>
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline mt-3">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
